body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 2.5em;
    margin: 0;
}
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}
#showcase {
    background: url('/static/images/back3.jpeg') no-repeat center center/cover;
    color: #fff;
    height: 400px;
    text-align: center;
    padding-top: 100px;
}
#showcase h2 {
    font-size: 3em;
    margin: 0;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #45a049;
}
section {
    padding: 40px 0;
    color: #333;
}
.learn-more {
    text-align: center;
    padding: 30px;
}
.learn-more h3 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}
.learn-more p {
    font-size: 1.2em;
    color: #666;
    width: 70%;
    margin: 0 auto 30px;
}
.learn-more .fa {
    font-size: 40px;
    color: #4CAF50;
    margin: 15px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
footer p {
    margin: 0;
    font-size: 0.9em;
}
#upload{
    text-align: center;
}
/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    #showcase h2 {
        font-size: 2.5em;
    }
    .learn-more p {
        width: 90%;
    }
}